h4 {
  padding: 10px 25px 15px;
  font-size: 140%;
  line-height: 22px;
  text-align: center;
  color: #4b646f;
  background: #1a2226;
  font-family: monospace;
}

.ant-layout-sider-zero-width-trigger {
  width: 400px;
}
.ant-layout-sider-zero-width-trigger-left {
  height: 1000px;
}

.ant-layout-sider-trigger {
  display: none;
}
