<nz-header>
  <div class="container">
    <div class="logo">
      <a routerLink="/">
        <img src="../../../../assets/sigies.png" alt="Logotipo de Sigies" />
      </a>
    </div>

    <nz-divider nzType="vertical"></nz-divider>
    <button
      class="button-menu"
      nz-button
      nzType="text"
      (click)="isCollapsedMethod()"
    >
      <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
    </button>
    <nz-divider nzType="vertical"></nz-divider>

    <app-breadcrumbs></app-breadcrumbs>

    <div
      class="menu-login"
      style="margin-left: auto; padding: 0px 15px; border: 1px solid #eee"
    >
      <a
        nz-tooltip
        [nzTooltipArrowPointAtCenter]="true"
        [nzTooltipTrigger]="'click'"
        [nzTooltipPlacement]="'bottomLeft'"
        [nzTooltipTitle]="userTemplate"
        style="color: #999999"
        ><nz-avatar nzIcon="user"></nz-avatar>
        <span class="userName-user">
          {{ userName || 'Nombre de usuario' }}</span
        ></a
      >
    </div>
  </div>
</nz-header>

<ng-template #userTemplate>
  <nz-card [nzCover]="coverTemplate" [nzActions]="[actionPerfil, actionSalir]">
    <button nz-button nzType="text">
      <span nz-icon nzType="lock"></span>Bloquear
    </button>
  </nz-card>
</ng-template>
<ng-template #coverTemplate>
  <nz-avatar [nzSize]="64" nzIcon="user" style="margin: auto"></nz-avatar>
  {{ userName || 'Nombre de usuario' }}<br />
  <small>Miembro desde {{ userTime || 'hace mucho tiempo' }}</small>
</ng-template>
<ng-template #actionPerfil>
  <button nz-button nzType="default" routerLink="/">
    <span nz-icon nzType="user"></span>Perfil
  </button>
</ng-template>
<ng-template #actionSalir>
  <button nz-button nzType="default" class="gray-2" (click)="logout()">
    <span nz-icon nzType="logout"></span>Salir
  </button>
</ng-template>
