<div class="tab-content">
    <div class="header">
      <div class="title">
        <span>SIGIES</span>
      </div>
      <button class="close-button" (click)="onClose()">×</button>
    </div>
    <div class="content">
      <h2>Hola Avatar👋</h2>
      <p>¿Cómo podemos ayudarte?</p>
      <div class="action-button">
        <button  (click)="IrAMensaje('mensajes')">Enviarnos un mensaje 💬</button>
      </div>
      <div class="recent-messages">
        <div class="message">
          <div class="message-title">Soporte en Español</div>
          <p class="message-details">SIGIES 24/7 Live Support • Hace 5d</p>
        </div>
        <div class="message">
          <div class="message-title">¿Cómo registrarse?</div>
          <p class="message-details">Registro de cuenta, seguridad, verificación</p>
        </div>
        <div class="message">
          <div class="message-title">Información Académica</div>
          <p class="message-details">Horarios, notas, materias</p>
        </div>
      </div>
    </div>
  </div>
  
  