<div class="tab-content" [class.active]="isOpen">
    <div class="header">
      <div class="atras-foto" [class.active]="activeChat !== 'Mensajes'">
        <a href="#" [class.active]="activeChat === 'Mensajes'" (click)="switchChat('Mensajes')"><span><</span></a>
      </div>
      <div class="title">
        <span>{{activeChat}} </span>
      </div>
      <button class="close-button" (click)="onClose()">×</button>
    </div>
    
    <!-- Contenido de Mensajes -->
    <div id="Mensajes" class="content-chats" [class.active]="activeChat === 'Mensajes'"  >
      <!-- chat #1 -->
      <a href="#" [class.active]="activeChat === 'SIGIES'" (click)="switchChat('SIGIES')">
        <img src="../../../../assets/default-avatar.png" alt="Avatar" />
        <div class="chat-info">
          <h2>Equipo SIGIES </h2>
          <p>El ultimo mensaje que se envio </p>
        </div>
        <span>></span>
        </a>

        <!-- chat #2 -->
        <a href="#" class="chat-item" [class.active]="activeChat === 'Equipo'" (click)="switchChat('Equipo')">
          <img src="../../../../assets/default-avatar.png" alt="Avatar" />
          <div class="chat-info">
            <h2>Equipo</h2>
            <p>El ultimo mensaje que se envio </p>
          </div>
          <span>></span>
          </a>
        
      </div>

 
      <!-- Contenido dentro de los Chats -->

      <div id="chat" class="chat" [class.active]="activeChat !== 'Mensajes'">
        <app-chat></app-chat>
      </div>



  </div>
  
  