<div class="tab-content">
    <div class="header">
      <div class="title">
        <span>Mensajes</span>
      </div>
      <button class="close-button" (click)="onClose()">×</button>
    </div>
    <div class="content">
      <div class="chat">
        <img src="/assets/robot.svg" alt="Avatar" />
        <div class="chat-info">
          <h2>Chat 1</h2>
          <p>Contenido del chat 1</p>
        </div>
      </div>
      <div class="chat">
        <img src="/assets/robot.svg" alt="Avatar" />
        <div class="chat-info">
          <h2>Chat 2</h2>
          <p>Contenido del chat 2</p>
        </div>
      </div>
    </div>
  </div>
  
  