.chat-button {
  position: fixed;
  bottom: 30px;
  right: 10px;
  background: linear-gradient(to top, #2980b9, #3c8dbc);
  color: white;
  padding: 10px 10px;
  border-radius: 50%;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  z-index: 40;

  
}

.chat-modal {
  position: fixed;
  bottom: 30px;
  right: 10px;
  width: 320px;
  background-color: #222d32;
  border-radius: 12px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  visibility: hidden;
  opacity: 0;
  transform: translateY(100px) scale(0.9);
  transition: all 0.3s ease;
  z-index: 50;

  &.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0) scale(1);
  }


}

.nav-bar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  a {
    color: #bdc3c7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    transition: color 0.3s;

    &.active {
      color: #3c8dbc;
    }

    &:hover {
      color: white;
    }

    .icono {
     width: 25px; 
    }
  }
}


.modal-content-intercambiable {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.tab-content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // padding: 16px;
  overflow-y: auto;
  display: none;
  color: white;

  &.active {
    display: block;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  p {
    color: #bdc3c7;
    margin-bottom: 16px;
  }
}

